DB_HOST=localhost
DB_NAME=TU_BASE_DE_DATOS
DB_USER=TU_USUARIO
DB_PASS=TU_PASSWORD
DB_CHARSET=utf8mb4
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
MICROSOFT_CLIENT_ID=MICROSOFT_CLIENT_ID
MICROSOFT_CLIENT_SECRET=MICROSOFT_CLIENT_SECRET
DB_CHECK_TOKEN=CAMBIA_ESTE_TOKEN_LARGO
